@model  ArtShop.Data.Model.Product
@{
    ViewBag.Title = "Producto de Prueba";
    var itemProduct = Model;
}



<div class="contentPage">
    <section class="product">
        <div class="product_photo">
            <div class="photo-main">
                <img src="~/Content/Images/pinturaPrueba.png" alt="Pintura de Prueba">
            </div>
        </div>
        <div class="product_info">
            <div class="title">
                <h1>@itemProduct.Title</h1>
                <span>COD: @itemProduct.ID</span>
            </div>
            <div class="price">
                $ <span>@itemProduct.Price</span>
            </div>
            <div class="description">
                <h3>DESCRIPCION</h3>
                <ul>
                    <li>Autor: @itemProduct.ArtistID (ID Provisorio)</li>
                    <li>Año: 1480 (Harcodeado provisorio)</li>
                    <li>Lugar: Italia (Harcodeado provisorio)</li>
                    <li>Descripción: @itemProduct.Description</li>
                </ul>
            </div>
            <button id="linkCarrito" class="btn btn-lg btn-outline-success">AGREGAR AL CARRITO</button>
        </div>
    </section>

</div>

@section scripts{

    <script>



        $("#linkCarrito").click(function () {
            var value = $(document).find("#cartValue").text();
            var numberValue =  parseInt(value.substr(1));
            numberValue = numberValue + parseFloat(("@itemProduct.Price").replace(",","."));
            $(document).find("#cartValue").empty();
            $(document).find("#cartValue").html("<strong>$" + numberValue+"</strong>");


        });
    </script>


}
