<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UAIart</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="header">
        <div class="centerHeader">
            <div id="logo">
                <a id="cart" href="@Url.Action("Index","Home")"><img src="~/Content/Images/logoHome.png" /></a>
            </div>

            <nav id="menu">
                <ul>
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-item" })

                    </li>
                    <li>
                        @Html.ActionLink("Pinturas", "Index", "Product", new { area = "" }, new { @class = "nav-item" })
                    </li>
                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        <li>
                            @Html.ActionLink("ABM Pinturas", "ABMView", "Product", new { area = "" }, new { @class = "nav-item" })
                        </li>
                        <li>
                            @Html.ActionLink("ABM Artistas", "ABMView", "Artist", new { area = "" }, new { @class = "nav-item" })
                        </li>
                    }
                        @Html.Partial("_LoginPartial")

                    </ul>
                <span class="nav-indicator"></span>
            </nav>
            <div id="Carrito" class="icon-container">
                <a id="cart" href="@Url.Action("Index","Cart")" data-toggle="popover-cart" data-placement="bottom"><i class="material-icons icon-small">add_shopping_cart</i></a>
                <span id="cartValue" class="spanCart"><strong>$00.0</strong></span>

            </div>
            <div id="popover_content_wrapper" style="display: none">
                <span id="cart_details"></span>
                <div align="right">
                    <a href="@Url.Action("Index","Cart")" class="btn btn-primary" id="check_out_cart">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Check out
                    </a>
                    <a href="#" class="btn btn-default" id="clear_cart">
                        <span class="glyphicon glyphicon-trash"></span> Clear
                    </a>
                </div>
            </div>
        </div>
    </header>

   

    <div id="slider" class="slider-big">

      
        <h1>
            @ViewBag.Title
        </h1>

       


    </div>
    <div class="clearfix"></div>

    

    <div class="center">

        @RenderBody()

    </div>
    <div class="clearfix"></div>
    <footer id="footer">
        <div class="center">
            <p>&copy; UAI Software</p>
        </div>
    </footer>
    <script type="text/javascript">

        $(document).ready(function () {

            $("[data-toggle=popover]").popover();

            $("[data-toggle=popover-cart]").popover({ trigger: "manual", html: true, content: $('#popover_content_wrapper').html(), animation: false })
                .on("mouseenter", function () {
                    var _this = this;
                    $(this).popover("show");
                    $(".popover").on("mouseleave", function () {
                        $(_this).popover('hide');
                    });
                }).on("mouseleave", function () {
                    var _this = this;
                    setTimeout(function () {
                        if (!$(".popover:hover").length) {
                            $(_this).popover("hide");
                        }
                    }, 300);
                });

        });

    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
