@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    <ul>
        <li>
            <a href="@Url.Action("Index","Manage")" title="@User.Identity.GetUserName()"><i class="icon-small material-icons" style="position: relative;top: 10px;right:5px;">perm_identity</i></a>
        </li>
        <li> <a href="javascript:document.getElementById('logoutForm').submit()" title="Cerrar Sesión"><i class="material-icons icon-small" style="position: relative;top: 10px;right:5px;">exit_to_app</i></a></li>

    </ul>
   


    }

}
else
{
<ul class="InitialLogin">
    <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li><i class="icon-xs material-icons" >person_add</i>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    
</ul>
}
