@model IEnumerable<ArtShop.Data.Model.Artist>
@{
    ViewBag.Title = "ABM Artistas";
}


    <div class="formStyle">
        @if (ViewBag.MessageDanger != "" || ViewBag.MessageDanger != null)
        {
            <span class="error">@ViewBag.MessageDanger</span>
        }
        <form>
            <div id="restDiv">
                <div id="artist" class="interiorCard">
                    <a id="linkCrearPaint" href="@Url.Action("Create","Artist")" class="btn btn-outline-success addButton"><i class="material-icons ">add_circle_outline</i>Nuevo Artista</a>
                    <table class="table cart-items">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.FullName)</th>
                                <th>@Html.DisplayNameFor(model => model.Country)</th>
                                <th>@Html.DisplayNameFor(model => model.LifeSpan)</th>
                                <th>@Html.DisplayNameFor(model => model.Description)</th>
                                <th>@Html.DisplayNameFor(model => model.TotalProducts)</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => item.FullName)</td>
                                    <td>@Html.DisplayFor(model => item.Country) </td>
                                    <td>@Html.DisplayFor(model => item.LifeSpan)</td>
                                    <td>@Html.DisplayFor(model => item.Description)</td>
                                    <td>@Html.DisplayFor(model => item.TotalProducts)</td>
                                    <th> <a href="@Url.Action("Edit", "Artist", new {id=item.Id })"><i class="material-icons icon-small">create</i></a><a href="@Url.Action("Delete", "Artist", new {id=item.Id })"><i class="material-icons icon-small">delete_outline</i></a></th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </form>
    </div>





